#### ===================================================================================================================

# Datafiniti Womens Shoes

#### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path = "Datafiniti_Womens_Shoes_Jun19.csv"

#Import the CSV into a pandas DataFrame
Womens_Shoes_df = pd.read_csv(csv_path, low_memory = False)
Womens_Shoes_df

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean / upc,...,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs
0,AWpyySsJAGTnQPR7wNt4,2019-05-01T09:27:22Z,2019-05-01T09:27:22Z,NaN,City Classified,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,656000000000,...,2019-04-19T07:09:29Z,NaN,NaN,Online only,NaN,NaN,8,https://www.walmart.com/ip/City-Classified-Sty...,8,https://www.walmart.com/ip/City-Classified-Sty...
1,AWpyyyb3AGTnQPR7wN-u,2019-05-01T09:27:19Z,2019-05-01T09:27:19Z,NaN,Skechers,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Taupe,NaN,192000000000,...,2019-04-24T09:14:11Z,NaN,NaN,Online only,NaN,NaN,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,AWpyzlajAGTnQPR7wOX8,2019-05-01T09:26:59Z,2019-05-01T09:26:59Z,NaN,Floral,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,709000000000,...,2019-04-25T12:35:00.000Z,NaN,NaN,Online only,NaN,NaN,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,AWpyxomE0U_gzG0hkA1q,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Jambu,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black/Multi,NaN,884000000000,...,2019-04-30T19:49:00.000Z,NaN,NaN,Online only: 20% off,NaN,NaN,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,AWpyxChWJbEilcB6RhWx,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Trotters,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,White,NaN,887000000000,...,2019-04-19T07:07:46Z,NaN,NaN,Online only: 50% off,NaN,NaN,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVpighYz1cnluZ0-N8EB,2017-01-20T18:58:23Z,2019-03-04T14:28:45Z,NaN,Brinley Co.,"Womens Casual Shoes,Womens Shoes,Women's Shoes...",Shoes,"Taupe,Olive,Rust,Pewter,Black",NaN,870000000000,...,2019-02-28T21:00:00Z,False,NaN,Online only,NaN,Free Shipping on orders over $35,6,https://www.walmart.com/ip/Womens-Pointed-Toe-...,"11,6,7,8,9,6.5,7.5,8.5,10",https://www.walmart.com/ip/Brinley-Co.-Womens-...
9996,AVpiewWrilAPnD_xEkjw,2016-11-10T23:43:14Z,2019-03-04T14:28:45Z,NaN,Brinley Co.,"Womens Shoes,Clothing,Women's Shoes,All Womens...",Shoes,"Red,Rose Gold,Black,Camel,Floral,Light Grey",NaN,870000000000,...,2019-02-28T21:00:00Z,False,NaN,Online only,NaN,Free Shipping on orders over $35,6,https://www.walmart.com/ip/Womens-Classic-Bow-...,"11,6,7,8,9,6.5,7.5,8.5,10",https://www.walmart.com/ip/Brinley-Co.-Womens-...
9997,AVpiYTuB1cnluZ0-Mt5a,2017-01-17T19:08:08Z,2019-03-04T14:28:45Z,NaN,Brinley Co.,"Womens Casual Shoes,Womens Shoes,Clothing,Wome...",Shoes,"Brown,Blue,Black,Stone,Grey",NaN,870000000000,...,2019-02-28T21:00:00Z,False,NaN,Online only,NaN,Free Shipping on orders over $35,6,https://www.walmart.com/ip/Womens-Stacked-Wood...,"11,6,7,8,9,6.5,7.5,8.5,10",https://www.walmart.com/ip/Brinley-Co-Ladies-S...
9998,AVpf4QnhilAPnD_xj5BW,2017-01-18T19:03:53Z,2019-03-04T14:28:35Z,NaN,Brinley Co.,"Womens Casual Shoes,Womens Shoes,Clothing,Wome...",Shoes,"Brown,Pink,Dot,Fuchsia,Black",NaN,870000000000,...,2019-02-28T21:00:00Z,False,NaN,Online only,NaN,Free Shipping on orders over $35,6,https://www.walmart.com/ip/Womens-Cross-Strap-...,"11,6,7,8,9,6.5,7.5,10,8.5",https://www.walmart.com/ip/Womens-Cross-Strap-...
9999,AVpe5Ssl1cnluZ0-ZP9z,2017-01-20T18:58:24Z,2019-03-04T14:28:35Z,NaN,Brinley Co.,"All Womens Flats,Womens Shoes,Women's Shoes,Cl...",Shoes,"Taupe,Plum,Blue,Black,Grey",NaN,870000000000,...,2019-02-28T21:00:00Z,False,NaN,Online only,NaN,Free Shipping on orders over $35,6,https://www.walmart.com/ip/Womens-Pointed-Toe-...,"11,6,7,8,9,6.5,7.5,8.5,10",https://www.walmart.com/ip/Brinley-Co.-Womens-...

In [3]:
#Show the 'shape' of the dataframe 
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10000, 32)

#### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Womens_Shoes_df = Womens_Shoes_df[["id", "brand", "colors", "name", "prices.amountMax",  "prices.currency", "prices.dateSeen",
                               "prices.isSale"]]

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10000, 8)

In [5]:
#Print the dataframe
#Womens_Shoes_df

#### REMOVE ALL ROWS WHICH CONTAIN A CURRENCY OTHER THAN USD

In [6]:
#Get names of indexes for which column Currency has value other than USD
Womens_Shoes_df_indexnames = (Womens_Shoes_df[Womens_Shoes_df['prices.currency'] != "USD"]).index

#Delete these row indexes from dataframe
Womens_Shoes_df.drop(Womens_Shoes_df_indexnames, inplace=True)

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10000, 8)

C:\Users\jingd\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
#Print the dataframe
#Womens_Shoes_df

#### REMOVE ALL ROWS WITH FALSE IN THE SALE COLUMN

In [8]:
#Get names of indexes for which column Currency has value other than USD
Womens_Shoes_df_indexnames = (Womens_Shoes_df[Womens_Shoes_df['prices.isSale'] == "FALSE"]).index

#Delete these row indexes from dataFrame
Womens_Shoes_df.drop(Womens_Shoes_df_indexnames, inplace=True)

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10000, 8)

In [9]:
#Print the dataframe
#Womens_Shoes_df

In [10]:
#Drop the 'prices.isSale' column as it is now useless data - was used to siphon the non-Sale prices.
Womens_Shoes_df = Womens_Shoes_df.drop(['prices.isSale'], axis = 1)
Womens_Shoes_df

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (10000, 7)

In [11]:
#Print the dataframe
#Womens_Shoes_df

#### FILTER THE DATE COLUMN TO CORRECT FORMAT(YYYY-MM-DD) AND REMOVE ANY 'EMPTY' COLUMN

In [12]:
#Filter out non-DateTime valued rows, and set value to "NaN"
Womens_Shoes_df['prices.dateSeen'] = pd.to_datetime(Womens_Shoes_df['prices.dateSeen'], errors = 'coerce')

#Drop all "NaN" valued rows in prices.dateSeen column
Womens_Shoes_df = Womens_Shoes_df.dropna(subset = ['prices.dateSeen'])

#Convert the price.dateSeen column to string (from TimeStamp due to previous function to_datetime used)
Womens_Shoes_df['prices.dateSeen'] = Womens_Shoes_df['prices.dateSeen'].astype(str)

#Convert column to list
dt_list = Womens_Shoes_df["prices.dateSeen"].tolist()

#Clean up the list to only show yyyy-mm-dd formate
w_date = []
for x in dt_list:
    w_date.append(x.split(" ")[0])

#Add the formated list into the dataframe as new column "Date"
Womens_Shoes_df["Date"] = w_date

#Drop all "NaN" valued rows in prices.dateSeen column
Womens_Shoes_df = Womens_Shoes_df.dropna(subset=['Date'])

#Drop the 'prices.dateSeen' column as it is now repleced with a 'Date' column
Womens_Shoes_df = Womens_Shoes_df.drop(['prices.dateSeen'], axis = 1)

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (7847, 7)

In [13]:
#Print the dataframe
#Womens_Shoes_df

#### FILTER THE NAME COLUMN TO COLLECT REQUIRED ROWS

In [14]:
#Define shoe list to filter out non-shoe items 
ShoeList = ['Sandals', 'Sandal', 'Shoe', 'Shoes', 'Boots', 'Boot', 'Sneakers', 'Sneaker', 'Loafers', 'Slippers', 
            'Runners', 'Trainers', 'Thongs', 'bootie', 'wedge', 'heel']

# Search for content in ShoeList and filter 
Womens_Shoes_df = Womens_Shoes_df[Womens_Shoes_df.name.str.contains('|'.join(ShoeList), case=False)]

#Drop all "NaN" value rows in the name column
Womens_Shoes_df = Womens_Shoes_df.dropna(subset=['name'])

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5926, 7)

In [15]:
#Print the dataframe
#Womens_Shoes_df

#### FILTER THE COLOR COLUMN TO COLLECT REQUIRED ROWS

In [16]:
#Replace "," with "/", so we can split strings all together
colour_list = Womens_Shoes_df.colors.str.replace(',', '/')

#Loop through the list and pick out the first color before "/"
colour=[]
for x in colour_list:
    colour.append(str(x).split("/")[0])
    
#Create a new column with the simplified color
Womens_Shoes_df["Colours"] = colour

#Drop the 'color' column as it is now repleced with a 'Colour' column
Womens_Shoes_df = Womens_Shoes_df.drop(['colors'], axis = 1)

#Drop off rows with no brand
Womens_Shoes_df = Womens_Shoes_df.dropna(subset=['Colours'])

#Get names of indexes for which the Colours column has text containing "nan"
Womens_Shoes_df_indexNames = Womens_Shoes_df[Womens_Shoes_df['Colours'] == "nan"].index
Womens_Shoes_df.drop(Womens_Shoes_df_indexNames, inplace=True)

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5926, 7)

In [17]:
#Print the dataframe
#Womens_Shoes_df

#### REMOVE ALL ROWS WITH NO DATA

In [18]:
#Filter out those rows which does not contain any data 
Womens_Shoes_df = Womens_Shoes_df.dropna() 

#Confirm rows are dropped
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5926, 7)

In [19]:
#Print the dataframe
#Womens_Shoes_df

#### FILTER THE DATAFRAME AND DROP DUPLICATES, AND RE-ORDER

In [20]:
# Mens DF - Select Highest Price ID and Drop Duplicates 

# convert prices column to Float 
Womens_Shoes_df['prices.amountMax'] = pd.to_numeric(Womens_Shoes_df['prices.amountMax'], errors = 'coerce')

# sort DF based on Price
Womens_Shoes_df = Womens_Shoes_df.sort_values('prices.amountMax', ascending=False)

# Remove Duplicate ID rows 
Womens_Shoes_df.drop_duplicates(subset=['id'], inplace = True, keep = 'first')

#Confirm rows are dropped
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5698, 7)

In [21]:
#Print the dataframe
#Womens_Shoes_df

#### ADD A COLUMN TO THE DATAFRAME AND FILL WITH 'Mens'

In [22]:
#Create an Gender column for Men's Shoes
Womens_Shoes_df['Gender'] = "Women's"

#Confirm rows are dropped
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5698, 8)

In [23]:
#Print the dataframe
#Womens_Shoes_df

#### RENAME COLUMNS AND CORRECT THE INDEX FOR VISUAL PURPOSES

In [24]:
#The original dataframe had an index, so re-arrange the index 
Womens_Shoes_df.index = [x for x in range(1, len(Womens_Shoes_df.values)+1)]
Womens_Shoes_df.index.name = 'Index'
Womens_Shoes_df

,id,brand,name,prices.amountMax,prices.currency,Date,Colours,Gender
Index,,,,,,,,
1,AWpjC1khM263mwCq9tuU,Faux Suede,NATURE BREEZE FF00 Women Over The Knee Mid Hig...,5000.00,USD,2019-04-27,OLIVE,Women's
2,AWpNgbUgJbEilcB6Ow6q,Puma,Puma Women's Fierce Core Ultra Magenta / White...,5000.00,USD,2019-04-24,Nrgy Peach,Women's
3,AWo0e3tNJbEilcB6MSCQ,White Mountain,Women's White Mountain Theo Winter Bootie,5000.00,USD,2019-04-19,Black Suede,Women's
4,AWouiCjvAGTnQPR7qHwi,TOTES,Totes Women's Ruby Double Zip Boot,5000.00,USD,2019-04-18,Black,Women's
5,AWo0jy3_0U_gzG0he0ZP,Trotters,women's trotters below zero waterproof ankle boot,5000.00,USD,2019-04-19,Black Nubuck Waterproof Polyurethane,Women's
...,...,...,...,...,...,...,...,...
5694,AWpxiu1IAGTnQPR7v64S,Faded Glory,Faded Glory Sport Ballet Shoe,9.00,USD,2019-04-19,SAND,Women's
5695,AWozy0G_M263mwCq5mcS,Faded Glory,Faded Glory Sport Ballet Shoe,9.00,USD,2019-04-19,SAND,Women's
5696,AWo0hPNiM263mwCq50Pj,Faded Glory,Women's Casual Boat Shoe,8.18,USD,2019-04-19,NAVY,Women's
5697,AWozvnW8M263mwCq5lz6,Faded Glory,Women's Casual Boat Shoe,7.41,USD,2019-04-19,NAVY,Women's
5698,AWozxVIH0U_gzG0helj9,TIME AND TRU,Time and Tru Women's Jewel Chopout Ballet Flat...,5.50,USD,2019-04-19,Black,Women's

In [25]:
#Rename the columns for visual purposes
Womens_Shoes_df = Womens_Shoes_df.rename(columns = {"id":"ID", "brand":"Brand", "name":"Name", "prices.amountMax":"Price($)", 
                                                    "prices.currency":"Currency", "prices.dateSeen":"Date"})

#Reorganise the columns for visualisation
Womens_Shoes_df = Womens_Shoes_df[['ID', 'Name', 'Brand', 'Colours', 'Gender', 'Price($)', 'Currency', 'Date']]

#Show the 'shape' of the dataframe
shape = Womens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5698, 8)

#### PRINT THE RESULTING DATAFRAME

In [26]:
#Print the dataframe
Womens_Shoes_df

,ID,Name,Brand,Colours,Gender,Price($),Currency,Date
Index,,,,,,,,
1,AWpjC1khM263mwCq9tuU,NATURE BREEZE FF00 Women Over The Knee Mid Hig...,Faux Suede,OLIVE,Women's,5000.00,USD,2019-04-27
2,AWpNgbUgJbEilcB6Ow6q,Puma Women's Fierce Core Ultra Magenta / White...,Puma,Nrgy Peach,Women's,5000.00,USD,2019-04-24
3,AWo0e3tNJbEilcB6MSCQ,Women's White Mountain Theo Winter Bootie,White Mountain,Black Suede,Women's,5000.00,USD,2019-04-19
4,AWouiCjvAGTnQPR7qHwi,Totes Women's Ruby Double Zip Boot,TOTES,Black,Women's,5000.00,USD,2019-04-18
5,AWo0jy3_0U_gzG0he0ZP,women's trotters below zero waterproof ankle boot,Trotters,Black Nubuck Waterproof Polyurethane,Women's,5000.00,USD,2019-04-19
...,...,...,...,...,...,...,...,...
5694,AWpxiu1IAGTnQPR7v64S,Faded Glory Sport Ballet Shoe,Faded Glory,SAND,Women's,9.00,USD,2019-04-19
5695,AWozy0G_M263mwCq5mcS,Faded Glory Sport Ballet Shoe,Faded Glory,SAND,Women's,9.00,USD,2019-04-19
5696,AWo0hPNiM263mwCq50Pj,Women's Casual Boat Shoe,Faded Glory,NAVY,Women's,8.18,USD,2019-04-19
5697,AWozvnW8M263mwCq5lz6,Women's Casual Boat Shoe,Faded Glory,NAVY,Women's,7.41,USD,2019-04-19
5698,AWozxVIH0U_gzG0helj9,Time and Tru Women's Jewel Chopout Ballet Flat...,TIME AND TRU,Black,Women's,5.50,USD,2019-04-19

#### SAVE DATAFRAME TO CSV

In [27]:
#Save dataframe as csv file
Womens_Shoes_df.to_csv('Womens_Shoes_df.csv')